/*
Colors used:

Section backgrounds (light orange) #FFF4EA
Section backgrounds + Menu items + Contact button + h5 (dark green/blue) #359BB3
Dark typography #4D4D4D
Light typography #FFFFFF
Orange typography + Prototype buttons #EC8462

*/

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4d4d4d;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  line-height: 1.4;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
h3 {
  font-weight: 600;
  line-height: 1.4;
}
h4,
h5 {
  line-height: 1.4;
  font-weight: 600;
  color: #359bb3;
}
h6 {
  color: #707070;
  font-weight: 500;
}

#subheader-id {
  font-size: 2em;
  font-weight: 900;
}

img {
  width: 100%;
}

a {
  color: #359bb3;
  text-decoration: none;
}
a:hover {
  color: #707070;
}

a:active {
  color: #4d4d4d;
}

a:focus {
  color: #707070;
}

.button {
  display: inline-block;
  background-color: #359bb3;
  color: #ffffff;
  font-weight: 600;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  border-bottom: 2px solid;
  transition: 0.2s opacity;
  font-size: 0.8em;
}

.button:hover {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}

.button:active {
  color: #4d4d4d;
  text-decoration: none;
}

.button.contact {
  display: inline-block;
  background-color: #ec8462;
  color: #ffffff;
  font-weight: 600;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  border-bottom: 2px solid;
  transition: 0.2s opacity;
  font-size: 0.8em;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  color: #4d4d4d;
  text-decoration: none;
}

.button.prototype {
  display: inline-block;
  background-color: #ec8462;
  color: #ffffff;
  font-weight: 600;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  border-bottom: 2px solid;
  transition: 0.2s opacity;
  font-size: 0.8em;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  color: #4d4d4d;
  text-decoration: none;
}
